<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Go Python </title>
    <link rel="stylesheet" href="static/images/python_logo.png" type = "image/x-icon">

    <!--  footer scripts-->

    <link rel="stylesheet" href="static/home/base_footer2.css">
    <!--  footer scripts-->

  </head>
  <body>

   
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">GoPython</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quiz/">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        {% if user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <span class="navbar-text">Hello {{ user.username }} /  </span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/login/">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register/">Register</a>
              </li>
            </ul>
        {% endif %}
      </span>
    </nav>
    {% block body_block %}
    {% endblock %}
    <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <!-- footer template link "https://bbbootstrap.com/snippets/simple-footer-social-media-icons-37929510" -->
      <footer>
          <div class="row my-5 justify-content-center py-5">
              <div class="col-11">
                  <div class="row ">
                      <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                          <h3 class="text-muted mb-md-0 mb-5 bold-text">Pepper.</h3>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                          <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                          <ul class="list-unstyled">
                              <li>Home</li>
                              <li>About</li>
                              <li>Blog</li>
                              <li>Portfolio</li>
                          </ul>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                          <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                          <p class="mb-1">605, RATAN ICON BUILDING</p>
                          <p>SEAWOODS SECTOR</p>
                      </div>
                  </div>
                  <div class="row ">
                      <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                          <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Pepper All Rights Reserved.</small>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                          <h6 class="mt-55 mt-2 text-muted bold-text"><b>Mahesh G</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> anirudh@gmail.com</small>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                          <h6 class="text-muted bold-text"><b>Mahesh G</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> rishab@gmail.com</small>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--  footer scripts-->

    <script src=""></script>
    <!--  footer scripts-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  </body>
</html>
